<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a data enthusiast who is interested in using machine learning and deep learning algorithms to solve problems.
          I am intermediate-advanced level with python, proficient with SQL, HTML, and CSS; beginner with Javascript. I have also complete the Anaplan Model Builder Level 2 certification.</p>
      </div>
      <div class="col-lg-4">
        <p>I am the Center Manager for an outpatient rehabilitation center, which is analogous to a product manager of physical therapy services. I use similar processes in managing my offices that are required of a product manager including
          strategic partnerships, OKR, KPIs, using client feedback data to inform product development, making a minimal viable product for a new service, collaborating with a cross-funcitonal team of marketing and amdminstration to 
          engage new business opportunities, team leadershp, stewarding financial resources to meet budgetary requirements, ect. 
        </p>
      </div>
    </div>
  </div>
</section>
