<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a data enthusiast who is interested in using machine learning and deep learning algorithms to solve business and healthcare problems.
          My main programming language is Python as you can tell, but I have used SQL as well.</p>
      </div>
      <div class="col-lg-4">
        <p>I am currentlyt a center manager and physical therapist who is responsible to day to day operations and care of patients. </p>
      </div>
    </div>
  </div>
</section>
