<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am an enthusiastic data professional with a keen interest in applying machine learning and deep learning algorithms to address complex challenges in healthcare operations. 
          Possessing an intermediate-advanced proficiency in Python, along with adeptness in SQL, HTML, and CSS, I am well-equipped to analyze and manipulate data to drive insights. 
          While I am in the early stages of learning Javascript, I am committed to enhancing my coding skills for comprehensive data analysis. 
          Moreover, I have successfully achieved the Anaplan Model Builder Level 2 certification, underscoring my ability to optimize healthcare operations through innovative technology solutions.
          You can explore my work further on my GitHub repository: [https://github.com/chhendley/chhendley_python_projects/blob/main/docs/README.md"] 
          <a href="https://github.com/chhendley/chhendley_python_projects/blob/main/docs/README.md">Link to Github Repo</a></p>
      </div>
      <div class="col-lg-4">
        <p> As the Center Manager for an outpatient rehabilitation center, I apply a skill set that closely aligns with the responsibilities of a data scientist within the healthcare domain. Just as a data scientist leverages their expertise to analyze and extract insights from complex datasets, I employ similar processes in managing my offices to optimize operations and enhance patient experiences.
          Like a data scientist, I utilize data-driven strategies to establish strategic partnerships, set measurable objectives through OKRs, and monitor KPIs to gauge performance. I employ client feedback data as a valuable resource, akin to datasets, to inform decision-making and shape the development of innovative healthcare services.
          In parallel to the data science realm, I create minimal viable products for new services, working collaboratively with cross-functional teams comprising marketing and administration. By synergizing these efforts, I effectively engage new business opportunities and drive continuous improvement.
          My proficiency in financial resource allocation ensures budgetary requirements are met, mirroring the analytical approach of data scientists who meticulously manage resources for optimal results. Through this unique blend of data-centric strategies and healthcare operations, I strive to advance patient care, foster innovation, and drive growth in the healthcare sector. 
        </p>
      </div>
    </div>
  </div>
</section>
